<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title mb-4">Pedidos</h6>

                <div class="table-responsive" *ngIf="colecao && colecao.length > 0 else naoEncontrado">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Cliente</th>
                                <th class="pt-0">Produto</th>
                                <th class="pt-0">Quantidade</th>
                                <th class="pt-0">Valor</th>
                                <th class="pt-0">Data Pedido</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0">Armazém</th>
                                <th class="pt-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of colecao; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{pedido.cliente}}</td>
                                <td>{{pedido.produto}}</td>
                                <td>{{pedido.quantidade}}</td>
                                <td>{{pedido.valor}}</td>
                                <td>{{pedido.dataPedido}}</td>
                                <td>{{pedido.statusPedido}}</td>
                                <td>{{pedido.armazem}}</td>
                                <td><a>Ver Detalhes</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #naoEncontrado>
                    <span *ngIf="carregando == false">Nenhum registro encontrado!</span>
                    <span *ngIf="carregando == true">Carregando</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button [routerLink]="['/oms/pedidos/novo']" type="button" class="btn btn-primary me-2 mb-2 mb-md-0">Novo
            Pedido</button>
    </div>
</div>