<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title mb-4">{{titulo}}</h6>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Razão Social</th>
                                <th class="pt-0">Cnpj</th>
                                <th class="pt-0">Chave</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of colecao">
                                <td>{{item.id}}</td>
                                <td>{{item.razaoSocial}}</td>
                                <td>{{item.cnpj}}</td>
                                <td>{{item.chave}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>