<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title mb-4">{{titulo}}</h6>

                <div class="table-responsive" *ngIf="colecao && colecao.length > 0 else naoEncontrado">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Sku</th>
                                <th class="pt-0">Produto</th>
                                <th class="pt-0">Armazem</th>
                                <th class="pt-0">Quantidade</th>
                                <th class="pt-0" *ngIf="perfil == 'Operador'">Parceiro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of colecao; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.descricao}}</td>
                                <td>{{item.armazem}}</td>
                                <td>{{item.quantidade}}</td>
                                <td *ngIf="perfil == 'Operador'">{{item.parceiro}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #naoEncontrado>
                    <span *ngIf="carregando == false">Nenhum registro encontrado!</span>
                    <span *ngIf="carregando == true">Carregando</span>
                </ng-template>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="perfil == 'Parceiro'">
    <div class="col-3">
        <button [routerLink]="['/wms/estoques/adicionar']" type="button"
            class="btn btn-primary me-2 mb-2 mb-md-0">Adicionar Estoque</button>
    </div>
</div>