:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-2 {
  color: darkmagenta;
}

.auth-page .auth-left-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #fff;
}