<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-left-wrapper d-flex align-items-center justify-content-center">
            <img src="assets/logo.png">
          </div>

          <!-- <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }">

          </div> -->
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo logo-light  d-block mb-2">Delivery <span
                class="text-uppercase">Store</span></a>
            <h5 class="text-muted fw-normal mb-4">Bem vindo, informe os dados da conta para Entrar.</h5>
            <form class="forms-sample" [formGroup]="formGroup">
              <div class="mb-3">
                <input type="email" class="form-control" formControlName="login" id="login" placeholder="Email">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" formControlName="password" id="password"
                  autocomplete="current-password" placeholder="Senha">
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
                  (click)="onLoggedin($event)">Entrar</button>
                <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
                  (click)="onCreateCustomer()">
                  <i class="feather icon-user-check btn-icon-prepend"></i>
                  Criar nova conta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>