<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h6 class="card-title mb-4 mt-3">Enviar Produto</h6>

            <form class="forms-sample" [formGroup]="formGroup" (ngSubmit)="submit()">
                <div class="row mb-3">
                    <label for="nome" class="col-sm-3 col-form-label">Nome</label>
                    <div class="col-sm-9">
                        <input formControlName="nome" type="text" class="form-control" id="nome"
                            placeholder="Informe o nome do produto">
                        <app-input-invalid-message [frmGroup]="formGroup" controlName="nome">
                        </app-input-invalid-message>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="sku" class="col-sm-3 col-form-label">Código do Produto</label>
                    <div class="col-sm-9">
                        <input formControlName="sku" type="text" class="form-control" id="sku"
                            placeholder="Informe um codigo unico">
                        <app-input-invalid-message [frmGroup]="formGroup" controlName="sku">
                        </app-input-invalid-message>
                    </div>
                </div>
                <button type="submit" *ngIf="formGroup.valid" class="btn btn-primary me-2">Enviar</button>
            </form>
        </div>
    </div>
</div>

<ngb-alert [dismissible]="false" [type]="'info'">
    <h4 class="alert-heading">Informação!</h4>
    <br>
    <p>Além deste formulário é possível cadastrar produto de outras 2 maneiras:</p>
    <hr>
    <p>1- Via API</p>
    <p>2- Api Key de uma conta do Bling</p>
</ngb-alert>